 {% extends "GRGameficatorBundle::layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
      <div class="panel panel-danger-head widget-todo">
          <div class="panel-heading">
              <div class="pull-right">
                  <a title="" data-toggle="tooltip" class="tooltips" id="addnewtodo" href="{{ path('gr_gameficator_createtask') }}" data-original-title="Ajouter"><i class="glyphicon glyphicon-plus"></i></a>
              </div><!-- panel-btns -->
              <h3 class="panel-title">Tâches du jour</h3>
          </div>
          <ul class="panel-body list-group nopadding" style="max-height:300px;overflow:auto;">
            {% for task in listDaylyTasks %}
              <li class="list-group-item">
                    <div class="ckbox ckbox-default">
                        <input type="checkbox" id="{{ task.id }}" value="1">
                        <label for="{{ task.id }}">{{ task.name }}
                        {% if task.project.user != null %}
                        <span class="label label-default" style="background:{{task.project.color}}">
                           {{task.project.name}}
                        </span></label>
                        {% endif %}

                        {% if task.deadline|time_diff > "1d" %}
                        <span class="label label-danger" style="background:{{task.project.color}}">
                            {{ task.deadline|time_diff }}
                        </span></label>
                        {% endif %}

                    </div>
              </li>
              {% else %}
              <li class="list-group-item">
                  <label>Aucune tâche</label>
              </li>
              {% endfor %}


          </ul>
      </div>
    </div><!-- col-md-6 -->

    <div class="col-md-6">
        <div class="panel panel-success-head widget-todo">
            <div class="panel-heading">
                <div class="pull-right">
                    <a title="" data-toggle="tooltip" class="tooltips" id="addnewtodo" href="{{ path('gr_gameficator_createtask') }}" data-original-title="Ajouter"><i class="glyphicon glyphicon-plus"></i></a>
                </div><!-- panel-btns -->
                <h3 class="panel-title">Tâches à venir</h3>
            </div>
            <ul class="panel-body list-group nopadding" style="max-height:300px;overflow:auto;">
              {% for task in listTasks %}
                <li class="list-group-item">
                      <div class="ckbox ckbox-default">
                          <input type="checkbox" id="{{ task.id }}" value="1">
                          <label for="{{ task.id }}">{{ task.name }} <span class="label label-default" style="background:{{task.project.color}}">{% if task.project.user != null %} {{task.project.name}} {% endif %}</span> &nbsp; {{task.deadline | date("d/m/y")}}<span class="label label-warning"></span></label>
                      </div>
                </li>
                {% else %}
                <li class="list-group-item">
                    <label>Aucune tâche à venir</label>
                </li>
                {% endfor %}


            </ul>
        </div>
    </div><!-- col-md-6 -->

</div><!-- row -->

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class=".h2">Projets</h2>
                        <p class="mb15">Statut de vos projets</p>
                        {% for project in listProjects %}
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background:{{project.color}}">
                                    <h3 class="panel-title"><a href="{{ path('gr_gameficator_viewproject', {'id': project.id}) }}" style="color:black">{{project.name}}</a> {% if project.avancement == -1 %}(Aucune tâche){% else %}({{project.avancement}}%){% endif %}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{project.avancement}}%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                          <label>Aucun projet</label>
                        {% endfor %}
                    </div><!-- col-md-5 -->
                </div><!-- row -->
            </div><!-- panel-body -->
        </div><!-- panel -->
  </div>

</div><!-- row -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(":checkbox").click(function() {
            var this_id = $(this).attr("id");
            if($(this).is(":checked")) {
              $.ajax({
                  url: Routing.generate('gr_gameficator_archivertask', { id: this_id }),
                  success: function() {
                    document.location.reload(true);
                  }
              });
            }
            else {
                alert(id);
            }

        });
    });
</script>
{% endblock %}
