{% extends "GRGameficatorBundle::layout.html.twig" %}

{% block title %}
    <title>Gamificator | Ma tâche</title>
{% endblock title %}

{% block pageheader %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-file"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="{{ path('gr_gameficator_homepage') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                <li>Dashboard</li>
                <li>Tâches</li>
                <li>{{task.name}}</li>
            </ul>
                <h4>{{task.name}} <a href="{{ path('gr_gameficator_updatetask', {'id': task.id}) }}"><span class="glyphicon glyphicon-edit" style="padding-left:20px; "></span></a></h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Informations</h2>
                {% if task.project.user != null %}
                    <p><strong>Projet</strong> : <a href="{{ path('gr_gameficator_viewproject', {'id': task.project.id}) }}">{{ task.project.name }} </a></p>
                {% endif %}
                <p><strong>Topic</strong> : 
                {%for topic in task.topics %}
                        {{topic.name}}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </p>
                <p><strong>Statut</strong> :</p>
                <p><strong>Echéance / récurrence</strong> : {% if task.type==0 %}{{task.deadline | date("d/m/y")}} {% else %} Recurrente {% endif %}</p>
                <p><strong>Priorité</strong> : {{ task.priority }}</p>
                <p><strong>Nombre de points</strong> : {{ task.points }}</p>
                {% if task.description != null %}
                    <p><strong>Description</strong> : {{ task.description }}</p>
                {% endif %}
                <p>{{task.recurrent.timechoice2}}</p>
                {% for occurence in task.recurrent.occurences %}
                    <p>{{occurence| date("d/m/y H:i:s l")}}</p>
                {%  endfor %}
                {% for day in task.recurrent.days %}
                    <p> {{day.name}} </p>
                {% else %}
                    <p> pas de jour </p>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h2>Feedback</h2>
                <p><strong>Cette semaine</strong> : </p>
                <p><strong>Ce mois</strong> : </p>
                <p><strong>Cette année</strong> : </p>
                <p><strong>Depuis le début</strong> : </p>
            </div>
        </div>
    </div>

{% endblock %}
