{% extends "GRGameficatorBundle::layout.html.twig" %}

{% block title %}
    <title>Gamificator | Mon Projet</title>
{% endblock title %}

{% block pageheader %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-file"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="{{ path('gr_gameficator_homepage') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                <li>Dashboard</li>
                <li>Taches</li>
                <li>{{task.name}}</li>
            </ul>
            <h4>{{task.name}}</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Informations</h2>
                {% if task.project.user != null %}
                    <p><strong>Projet</strong> : {{ task.project.name }}</p>
                {% endif %}
                <p><strong>Topic</strong> :</p>
                <p><strong>Statut</strong> :</p>
                <p><strong>Echeance / récurrence</strong> : {{ task.deadline|date('d/m/Y') }}</p>
                <p><strong>Priorité</strong> : {{ task.priority }}</p>
                <p><strong>Nombre de points</strong> : {{ task.points }}</p>
                {% if task.description != null %}
                    <p><strong>Description</strong> : {{ task.description }}</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2>Feedback</h2>
                <p><strong>Cette semaine</strong> : </p>
                <p><strong>Ce mois</strong> : </p>
                <p><strong>Cette année</strong> : </p>
                <p><strong>Depuis le début</strong> : </p>
            </div>
        </div>
    </div>

{% endblock %}
