{% trans_default_domain 'FOSUserBundle' %}


<div class="panel panel-signin">
    <div class="panel-body">
        <div class="logo text-center">
            <img src="{{ asset('Template/images/logo.png') }}" alt="" />
        </div>
        <br />
        <h4 class="text-center mb5">Already a Member?</h4>
        <p class="text-center">Sign in to your account</p>

        <div class="mb30"></div>

        <form action="{{ path("fos_user_security_check") }}" method="post">
          {% if csrf_token %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %}

          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

            <div class="input-group mb15">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Username">
            </div><!-- input-group -->

            <div class="input-group mb15">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password">
            </div><!-- input-group -->

            <div class="clearfix">
                <div class="pull-left">
                    <div class="ckbox ckbox-primary mt10">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" >
                        <label for="rememberMe">Remember Me</label>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" id="_submit" name="_submit" class="btn btn-success">Sign In <i class="fa fa-angle-right ml5"></i></button>
                </div>
            </div>
        </form>

    </div><!-- panel-body -->
    <div class="panel-footer">
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-block">Not yet a Member? Create Account Now</a>
    </div><!-- panel-footer -->
</div><!-- panel -->
